<!DOCTYPE HTML>

<html th:lang="${lang}"
      th:with="lang=${#locale.language}"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>

<body>
<div class="container-fluid p-0">

    <!-- intestazione -->
    <div th:replace="~{fragments/header :: header}">header</div>

    <!-- corpo centrale -->
    <div class="row">
        <!-- left side -->
        <div class="col-lg-4">
            <div th:replace="~{fragments/left_side :: left_side}">left side</div>
        </div>

        <div class="col-lg-4">
            <br/>
            <div class="row">
                <div class="col-lg-6">
                    <h4 th:text="${portfolioName}"></h4>
                </div>
                <div class="col-lg-6">
                    <h5 th:text="#{label.portfolio.newProduct}">new product</h5>
                </div>
            </div>
            <br/><br/>
            <form name="addProductForm" th:object="${productForm}"
                  th:action="@{/portfolios/portfolio/tools}" method="post">
                <!--  -->
                <div class="form-group row">
                    <label class="col-xl-2 col-form-label" for="product_name" th:text="#{label.product.name}">name</label>
                    <div class="col-xl-10">
                        <input class="form-control" id="product_name" type="text" th:field="*{name}"/>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-xl-2 col-form-label" for="product_isin" th:text="#{label.product.isin}">isin</label>
                    <div class="col-xl-10">
                        <input class="form-control" id="product_isin" type="text" th:field="*{isin}"/>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-xl-2 col-form-label" for="product_price" th:text="#{label.product.price}">price</label>
                    <div class="col-xl-10">
                        <input class="form-control" id="product_price" type="text" th:field="*{price}"/>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-xl-2 col-form-label" for="product_quantity" th:text="#{label.product.quantity}">quantity</label>
                    <div class="col-xl-10">
                        <input class="form-control" id="product_quantity" type="number" min="0.0" placeholder="1" th:field="*{quantity}"/>
                    </div>
                </div>
                <!--
                <div class="form-group row">
                    <label class="col-xl-2 col-form-label" for="product_time" th:text="#{label.product.time}">time</label>
                    <div class="col-xl-10">
                        <input class="form-control" id="product_time" type="datetime-local" th:field="*{localDateTime}"/>
                    </div>
                </div>
                -->
                <select class="form-control selectpicker" id="comboBox" th:field="*{portfolioId}">
                    <option value="" th:text="#{label.choose}">choose</option>
                    <option th:each="portfolio : ${portfolios}" th:value="${portfolio.id}" th:text="${portfolio.name}"></option>
                </select>

                <br/><br/>
                <button type="submit" class="btn btn-primary" style="margin-right: 5px" th:text="#{label.send}"></button>
                <a class="btn btn-primary" role="button" th:href="@{/}" th:text="#{label.cancel}">cancel</a>
            </form>
        </div>

        <!-- right side -->
        <div class="col-lg-4">
            <div th:replace="~{fragments/right_side :: right_side}">right side</div>
        </div>
    </div>

    <!-- pie' pagina -->
    <div class="row">
        <div class="col-lg-12">
            <div th:replace="~{fragments/footer :: footer}"></div>
        </div>
    </div>
</div>
</body>
