<!DOCTYPE HTML>

<html th:lang="${lang}"
      th:with="lang=${#locale.language}"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>

<body>
<div class="container-fluid p-0">

    <!-- intestazione -->
    <div th:replace="~{fragments/header :: header}">header</div>

    <!-- corpo centrale -->
    <div class="row">
        <!-- left side -->
        <div class="col-lg-4">
            <div th:replace="~{fragments/left_side :: left_side}">left side</div>
        </div>

        <div class="col-lg-4">
            <br/>
            <h5 th:text="#{label.portfolio.update}">edit portfolio</h5>
            <br/><br/>

            <form name="updatePortfolioForm" th:object="${portfolioForm}" th:action="@{portfolios}" th:method="put">

                <!--  <input type="hidden" th:field="*{categoryId}"/> -->
                <input type="hidden" th:field="*{id}"/>
                <p th:test=${portfolioForm.name}></p>
                <div class="form-group row">
                    <label class="col-xl-2 col-form-label" for="portfolio_name" th:text="#{label.portfolio.name}">name</label>
                    <div class="col-xl-10">
                        <input class="form-control" id="portfolio_name" name="name" type="text" th:field="*{name}"/>
                    </div>
                </div>
                <br/><br/>
                <button type="submit" class="btn btn-primary" style="margin-right: 5px" th:text="#{label.send}"></button>
                <a class="btn btn-primary" role="button" th:href="@{/}"th:text="#{label.cancel}">cancel</a>
            </form>
        </div>

        <!-- right side -->
        <div class="col-lg-4">
            <div th:replace="~{fragments/right_side :: right_side}">right side</div>
        </div>
    </div>

    <!-- pie' pagina -->
    <div class="row">
        <div class="col-lg-12">
            <div th:replace="~{fragments/footer :: footer}"></div>
        </div>
    </div>
</div>
</body>
