<!DOCTYPE HTML>

<html th:lang="${lang}"
      th:with="lang=${#locale.language}"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>

<body>
<div class="container-fluid p-0">

    <!-- intestazione -->
    <div th:replace="~{fragments/header :: header}">header</div>

    <!-- corpo centrale -->
    <div class="row">
        <!-- left side -->
        <div class="col-lg-1">
            <div></div>
        </div>
        <div class="col-lg-2">
            <div th:replace="~{fragments/left_side :: left_side}">left side</div>
        </div>

        <div class="col-lg-6">
            <br/>
            <h4 th:text="${watchlistName}">watchlist name</h4>
            <br/>
            <table class="table">
                <thead class="thead-light">
                <tr>
                    <th>&nbsp;</th>
                    <th class="text-letf"  th:text="#{label.product.name}"></th>
                    <th class="text-right" th:text="#{label.product.lastPrice}"></th>
                    <th class="text-right" th:text="#{label.product.percChange}"></th>
                    <th class="text-right" th:text="#{label.product.now}"></th>
                    <th class="text-right" th:text="#{label.product.openingPrice}"></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="product : ${watchlist.products}">
                    <td>
                        <a th:href="@{/portfolios/portfolio/{isin}(isin=${product.isin})}" th:title="#{label.watchlist.title}">
                            <i class="fa fa-briefcase fa-lg"></i>
                        </a>
                    </td>

                    <td class="text-letf"  th:text="${product.name}"></td>
                    <td class="text-right" th:text="${#numbers.formatDecimal(product.lastPrice, 1, 4)}"></td>
                    <td class="text-right"
                        th:style="${product.percChange < 0 ? 'color: red;' : 'color: black;'}"
                        th:text="${#numbers.formatDecimal(product.percChange, 1, 2)}"></td>
                    <td class="text-right" th:text="${#temporals.format(product.now, 'HH:mm:ss')}"></td>
                    <td class="text-right" th:text="${#numbers.formatDecimal(product.openingPrice, 1, 4)}"></td>
                </tr>
                </tbody>
            </table>

            <!-- paginazione -->
            <div class="row justify-content-center">
                <nav aria-label="navigation" th:if="${watchlist.products.totalPages gt 1}">
                    <ul class="pagination" th:with="pages=${watchlist.products.totalPages}">
                        <!-- -->
                        <li class="page-item" th:classappend="${page eq 0} ? 'disabled'">
                            <a class="page-link"
                               th:href="@{/watchlist/{watchlistId}(watchlistId=${watchlistId},page=${0},size=${size})}" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>

                        <!-- -->
                        <li class="page-item" th:classappend="${page eq 0} ? 'disabled'">
                            <a class="page-link"
                               th:href="@{/watchlist/{watchlistId}(watchlistId=${watchlistId},page=${page-1},size=${size})}"
                               aria-label="Previous">
                                <span aria-hidden="true">&lsaquo;</span>
                            </a>
                        </li>

                        <li class="page-item" th:classappend="disabled">
                            <a class="page-link" th:text="${page + 1}">-1</a>
                        </li>

                        <li class="page-item" th:classappend="disabled">
                            <a class="page-link">
                                <span>di</span>
                            </a>
                        </li>

                        <li class="page-item" th:classappend="disabled">
                            <a class="page-link" th:text="${pages}">3</a>
                        </li>

                        <li class="page-item" th:classappend="${page eq (watchlist.products.totalPages - 1)} ? 'disabled'">
                            <a class="page-link"
                               th:href="@{/watchlist/{watchlistId}(watchlistId=${watchlistId},page=${page + 1},size=${size})}"
                               aria-label="Previous">
                                <span aria-hidden="true">&rsaquo;</span>
                            </a>
                        </li>

                        <li class="page-item" th:classappend="${page eq (watchlist.products.totalPages - 1)} ? 'disabled'">
                            <a class="page-link"
                               th:href="@{/watchlist/{watchlistId}(watchlistId=${watchlistId},page=${watchlist.products.totalPages - 1},size=${size})}"
                               aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>

                    </ul>
                </nav>
            </div>


        </div>

        <!-- right side -->
        <div class="col-lg-3">
            <div th:replace="~{fragments/right_side :: right_side}">right side</div>
        </div>
    </div>

    <!-- pie' pagina -->
    <div class="row">
        <div class="col-lg-12">
            <div th:replace="~{fragments/footer :: footer}"></div>
        </div>
    </div>
</div>
</body>
